@{
    ViewBag.Title = "Home Page";
}
<div>
    <div class="uni-frame">
        <h1 class="text-center uni-font-color">Fall University</h1>
    </div>

    <div class="row news-box">

    </div>

    <div class="row body-content">
  
        <div class="col-md-6">
            <h2>First</h2>
        </div>
        <div class="col-md-6">
            <h2>Second</h2>
        </div>
    
    </div>
</div>